<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] — Контроль расходных материалов</title>
    @* стили Bootstrap *@
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    @* локальные стили *@
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="app-wrapper">
        <header class="app-header">
            <nav class="navbar navbar-expand-lg bg-dark border-bottom" data-bs-theme="dark">
                <div class="container-fluid">
                    <!-- блок ссылок, зависящих от пользователя -->
                    <partial name="_NavbarPartial" />
                </div>
            </nav>
        </header>
        @RenderBody()
        <footer class="app-footer py-3 bg-body-tertiary border-top">
            <div class="text-center">Приложение работает на технологии <a href="https://github.com/BabylonAS/VlSU-PT3-TP">VlSU-PT3-TP</a></div>
        </footer>
    </div>
    @* сценарии Bootstrap *@
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    @* сценарии jQuery *@
    <script src="~/lib/jquery/jquery.js"></script>
    @* локальные сценарии *@
    <!--<script src="~/js/site.js"></script>-->
    @* сценарии, специфичные для страницы/представления *@
    @RenderSection("scripts", required: false)
</body>
</html>
