@* _NavbarPartial.cshtml: Добавляет ссылки в навигационную панель в зависимости от пользователя *@

@* Инъекция функциональной зависимости для частичного представления *@
@using Microsoft.AspNetCore.Identity
@using VlSU_PT3_TP.Infrastructure.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @* Для зарегистрированных пользователей *@

    @* Блок фунциональных ссылок *@
    <ul class="navbox-nav me-auto">

    </ul>

    @* Блок управления пользователем *@
    <ul class="navbox-nav">
        <li class="nav-item">
            @* Профиль пользователя *@
            <a class="nav-link" asp-area="Identity" asp-page="/UserProfile">@((await UserManager.GetUserAsync(User))!.ShortName)</a>
        </li>
        <li class="nav-item">
            @* Выход из учётной записи *@
            <a class="nav-link" asp-area="Identity" asp-page="/UserLogout">Выйти</a>
        </li>
    </ul>
} else
{
    @* Для незарегистрированных пользователей *@
    <ul class="navbox-nav">
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/UserLogin">Войти...</a>
        </li>
    </ul>
}