<ul class="navbox-nav me-auto">
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/Index">В начало</a>
    </li>
</ul>
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/UserLogin">Войти...</a>
    </li>
</ul>